.formulario-div{

    margin-top: 100px;
    
    }

.codigoContra{

    padding-bottom: 40px;

}

/* #btnEnlace{


     


} */
.btn-verificar{

 margin-top: 42px ;


}



.icon-container{

    position: relative;
    
 

    top: -56px;

    left: 560px;

}
.icon-container2{

    position: relative;
    
 

    top: -35px;

    left: 560px;

}


