.imagenProducto{
    margin-top: 15px;
    max-height: 200px;
}
.sidebar {
    width: 200px; /* Ajusta el ancho según tus necesidades */
    padding: 20px;
    margin-top: 20px;
    margin-left: 30px;
    margin-bottom: 30px;
    background-color: #f7f7f7; /* Color de fondo neutro */
    border-right: 1px solid #e0e0e0; /* Línea divisoria sutil */
    border-radius: 15px; /* Bordes redondeados del contenedor */
}

.div-filtro {
    margin-top: 20px;
    margin-bottom: 20px; /* Espaciado entre cada enlace */
}

.filtro-link {
    text-align: center;
    text-decoration: none; /* Quita el subrayado de los enlaces */
    color: #333; /* Color del texto */
    font-size: 18px; /* Tamaño de la fuente */
    font-family: 'Arial', sans-serif; /* Tipografía sencilla */
    padding: 10px 15px; /* Espaciado interno */
    display: block; /* Para que el enlace ocupe todo el div */
    border-radius: 25px; /* Bordes muy redondeados */
    transition: background-color 0.3s ease, transform 0.3s ease; /* Efecto de transición */
}

.filtro-link:hover {
    background-color: #e0e0e0; /* Cambio de color al pasar el cursor */
    color: #000; /* Color del texto al pasar el cursor */
    transform: scale(1.05); /* Pequeño zoom al pasar el cursor */
}
.productos{
    margin-top: 20px;
    margin-bottom: 20px;
}
.agregarCarrito{
    padding-bottom: 0px !important;
}