.gradient-custom-2 {
    /* ff 3.6+ */
    background: -moz-linear-gradient(90deg, rgba(42, 147, 145, 1) 0%, rgba(69, 159, 88, 1) 100%);

    /* safari 5.1+,chrome 10+ */
    background: -webkit-linear-gradient(90deg, rgba(42, 147, 145, 1) 0%, rgba(69, 159, 88, 1) 100%);

    /* opera 11.10+ */
    background: -o-linear-gradient(90deg, rgba(42, 147, 145, 1) 0%, rgba(69, 159, 88, 1) 100%);

    /* ie 6-9 */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#459F58', endColorstr='#2A9391', GradientType=0);

    /* ie 10+ */
    background: -ms-linear-gradient(90deg, rgba(42, 147, 145, 1) 0%, rgba(69, 159, 88, 1) 100%);

    /* global 94%+ browsers support */
    background: linear-gradient(90deg, rgba(42, 147, 145, 1) 0%, rgba(69, 159, 88, 1) 100%);

}

@media (min-width: 768px) {
    .gradient-form {
        height: 100vh !important;
    }
}

@media (min-width: 769px) {
    .gradient-custom-2 {
        border-top-right-radius: .3rem;
        border-bottom-right-radius: .3rem;
    }
}

.formulario-div{
 
    margin-top: 100px;
}
.text-center{
    text-align: center;
}

.carrusel{
    padding-left: 22px;
    padding-right: 22px;
}

/* .formulario-div-container-form{
    padding: 20px;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-top: 1px solid black;
} */